# Xcode
xcuserdata/
*.xcuserstate
build/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/
.build/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store

# Your env config
Debug.xcconfig
Release.xcconfig