<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>BRAND</key>
	<string>$(X_BRAND)</string>
	<key>BRAND_WEBSITE</key>
	<string>$(BRAND_WEBSITE)</string>
	<key>CLOVER_SDK</key>
	<string>$(CLOVER_SDK)</string>
	<key>PAKMS_KEY</key>
	<string>$(CLOVER_PAKMS_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque_24pt-SemiBold.ttf</string>
		<string>BricolageGrotesque_72pt-ExtraBold.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_28pt-ExtraBold.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>BricolageGrotesque-Bold.ttf</string>
	</array>
</dict>
</plist>
